.container {
    background: var(--primary);
    max-width: 90%;
    margin:2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 10px var(--blackTransparency)
}

.container h2 {
    color: var(--textSub);
    font-family: var(--familyTitle);
    font-weight: var(--weightBold);
    margin: 3rem auto 2rem auto;
}

.container p {
    color: var(--text);
    font-family: var(--familyText);
    font-weight: var(--weightLight);
    margin: 2rem auto 2rem auto;
}

.container div {
    width: 80%;
    margin: 2rem auto;
}

@media only screen and (min-width:1px) {
    .container h2 {
        font-size: var(--sizeTitleSM);
        margin: 2rem auto 1rem auto;
        
    }

    .container p {
        font-size: var(--sizeTextSM);
        margin: 2rem auto 2rem auto;
    }

    .container {
        max-width: 90%;
    }
}

@media only screen and (min-width:1000px) {
    .container h2 {
        font-size: var(--sizeTitleMD);
        margin: 3rem auto 2rem auto;
        
    }

    .container p {
        font-size: var(--sizeTextMD);
        margin: 2rem auto 2rem auto;
    }

    .container {
        max-width: 60%;
    }


}

@media only screen and (min-width:1800px) {
    .container {
        max-width: 50%;
    }
}

@media only screen and (min-width:2500px) {
    .container h2 {
        font-size: var(--sizeTitleLG);
        margin: 3rem auto 2rem auto;
        
    }

    .container p {
        font-size: var(--sizeTextLG);
        margin: 2rem auto 2rem auto;
    }

    .container {
        max-width: 40%;
    }
}