
@media only screen and (min-width:1px){
    .container{
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--primary);
        justify-content:space-around;
        padding: 1rem 0rem;
    }
    
    .container1{
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex-direction: column;
        padding: 1rem 0rem;
    }
    
    .containerLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        font-size: var(--sizeLinkMD) ;
        font-family: var(--familyLink);
    }
    
    .containerRight{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
    }
    
    .textCatavia{
        font-family: var(--familySub);
        font-size: var(--sizeLinkSM);
        font-weight: var(--weightSemi) ;
    }
    
    .containerOT{
        display: flex;
        align-items: center;
        padding-bottom: 0.2rem;
        font-family: var(--familyLink);
        font-size: var(--sizeLinkSM);
    }
    
    .logoOT{
        padding-right: 0.5rem ;
        width: 2.5rem;
    }

}
@media only screen and (min-width:600px){
    .container{
        justify-content:space-around;
        padding: 1rem 0rem;
    }
    
    .container1{
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
    }
    
    .containerLeft{
        width: 20%;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
    }
    
    .containerRight{
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        width: 20%;
        font-size: var(--sizeLinkSM);
    }
    
    .textCatavia{
        font-size: var(--sizeLinkSM);
    }
    
    .containerOT{
        display: flex;
        align-items: center;
        font-family: var(--familyLink);
        font-size: var(--sizeLinkSM);
    }
    
    .logoOT{
        padding-right: 0.5rem ;
        width: 2.5rem;
    }

}