.container {
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
}
    
.heading {
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
}

.swiper_container {
    height: 30rem;
    padding: 2rem 0;
    position: relative;
}

.swiper_slide {
    width: 22rem;
    height: 17rem;
    position: relative;
}

.img {
    width: 22rem;
    height: 17rem;
    object-fit: cover;
}

.cardFooter{
    display: flex;
    flex-direction:column;
    background-color:rgb(253, 217, 172);
}

.cardTitlePrice{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.cardTitle{
    align-self: flex-start;
    justify-content: right;
    font-size: 1.5rem;
    font-weight:600;
}

.cardPrice{
    font-size: 1.5rem;
    font-weight:600;
}

.cardBtn{
    width: auto;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.3rem;  
}

.btn1{
    width: 9rem;
    margin-right: .5rem;
    background-color: rgb(100, 225, 253);
    color: black;
    font-size: 1.3rem;
    font-weight:500;
}

.btn2{
    width: 9rem;
    margin-left: .5rem;
    background-color: rgb(245, 232, 94);
    color: black;
    font-size: 1.3rem;
    font-weight:500;
}

.slider_controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.slider_arrow {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    align-items: center;
}

.swiper_button_prev {
    top: 58%;

}

.swiper_button_next {
    top: 58%;
}
