.container{
    width:70%;
    background-color: var(--primary);
    border-radius: 60px;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
}

.img{
    width: 9rem;   
    margin-top: 1rem;
}

.title{
    font-family: var(--familyBannerSub);
    font-weight:var(--weightBold) ;
    margin: 1rem 0rem 2rem 0rem; 
}

.text{
    text-align: center;
    font-family: var(--familyText);
}

.conteinerBtn{
    margin-top: 3rem;
}

.btn{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: rgba(0, 255, 255, 0);
}



@media only screen and (min-width:1px){
    .container{
        width:80%;
    }
    
    .img{
        width: 9rem;   
    }
    
    .title{
        font-size: var(--sizeTitleSM);
    }
    
    .text{
        font-size: var(--sizeTextSM);
    }

    .conteinerBtn{
        margin-top: 2rem;
    }
    
    .btn{
        width: 3rem;
        height: 3rem;
    }

}

@media only screen and (min-width:1024px){
    .container{
        width:55%;
    }
    
    .img{
        width: 9rem;   
        margin-top: 1rem;
    }
    
    .title{
        font-size: var(--sizeTitleMD);
    }
    
    .text{
        font-size: var(--sizeTextMD);
    }
    
    .btn{
        width: 4rem;
        height: 4rem;
    }

}

@media only screen and (min-width:2500px){
    .container{
        width:40%;
    }
    
    .img{
        width: 9rem;   
        margin-top: 1rem;
    }
    
    .title{
        font-size: var(--sizeTitleLG);
    }
    
    .text{
        font-size: var(--sizeTextLG);
    }
    
    .btn{
        width: 5rem;
        height: 5rem;
    }

}