.conteiner{
    width: 50%;
    background-color: var(--secondary);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
}


.conteiner2{
    height: auto;
}

.img{
    width: 6rem;    
}

.title{
    font-size: var(--sizeTitleMD);
    font-family: var(--familyTitle);
}

.btn{
    width: 43%;
    font-family: var(--familyLink);
    font-size: var(--sizeTextMD);
}

.input2{
    border-radius: 10px;
    text-align: center;
    width: 90%;
    font-family: var(--familyLink);
    font-size: var(--sizeTextSM);
}

.input2::placeholder{
    color: black;
    text-align: center;
    font-size: var(--sizeTextSM);
    background-color: rgba(240, 248, 255, 0);
}

.label{
    font-size: var(--sizeTextSM) ;
    font-family: var(--familyLink);
    color: black;
}

.label:focus{
    color: black;
}


@media only screen and (min-width:1px){

    .conteiner{
        width: 90%;
    }
    

    .conteiner2{
        padding: 1rem 0.5rem;
    }
    
    .input2{
        width: 95%;
    }
    
    .img{
        width: 6rem;  
    }
    
    .title{
        font-size: var(--sizeTitleSM);
    }
    
    .btn{
        width: 84%;
        margin: .3rem 0rem;
        font-size:var(--sizeTextSM)
    }

    .input2{
        width: 90%;
        font-size: var(--sizeTextSM);
    }
    
    .input2::placeholder{
        font-size: var(--sizeTextSM);
        background-color: rgba(240, 248, 255, 0);
    }
    
    .label{
        font-size: var(--sizeTextSM) ;
    }
    
    

}

@media only screen and (min-width:1024px){

    .conteiner{
        width: 50%;
    }
    
    .conteiner2{
        padding: 1rem 0rem;
    }

    .title{
        font-size: var(--sizeTitleMD);
    }
    
    .btn{
        width: 43%;
        font-size: var(--sizeTextSM);
    }

    .input2{
        width: 90%;
        font-size: var(--sizeTextSM);
    }
    
    .input2::placeholder{
        font-size: var(--sizeTextSM);
        background-color: rgba(240, 248, 255, 0);
    }
    
    .label{
        font-size: var(--sizeTextSM) ;
    }

}

@media only screen and (min-width:2560px){
    .conteiner{
        width: 50%;
    }
    
    .title{
        font-size: var(--sizeTitleLG);
    }
    
    .btn{
        width: 43%;
        height: 4rem;
        font-size: var(--sizeTextLG);
    }

    .input2{
        width: 90%;
        font-size: var(--sizeTextLG);
    }
    
    .input2::placeholder{
        font-size: var(--sizeTextLG);
    }
    
    .label{
        font-size: var(--sizeTextLG) ;
    }


}