.conteiner{
    width: 100%;
    background-color: var(--primaryTransparency);
    border-radius: 15px;
}

.conteinerImg{
    border-radius: 15px;
    box-shadow: 0 1px 5px var(--blackTransparency)
}

/*carruse */

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    position: relative;
  }
  
  /* Slider Controls */
  
  .slider_arrow {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    align-items: center;
    z-index: 20;
  }
  
  .controlsContainer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:45%;
  }
  
  .button {
    background: pink;
    color: black;
    font-weight: 600;
    font-size: 1rem;
  }
  
  /* fin de carrisel*/

.li {
  list-style: none;
  white-space: nowrap;
  display: inline;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover; 
}

.name{
    font-size: var(--sizeTitleMD);
    font-family: var(--familyTitle);
    
}

.text{
    font-size: var(--sizeTextMD);
    font-family: var(--font-merri);
    text-align: left;
}

.num{
    font-size: var(--sizeTextMD);
}

.sub{
    font-size: var(--sizeTextMD);
    font-family: var(--font-heebo);
}

.containerImput{
    width: auto;
}

@media only screen and (min-width:2560px){

    .conteinerImg{
        height: 24rem;
    }

    .name{
        font-size: var(--sizeTitleLG);
    }
    
    .text{
        font-size: var(--sizeTextLG);
        padding: 0rem 1rem;
    }
    
    .num{
        font-size: var(--sizeTextLG);
    }
}

@media only screen and (min-width:1024px){

    .conteinerImg{
        height: 24rem;
    }
    
    .name{
        font-size: var(--sizeTitleMD);
    }
    
    .conteinerDescripcion{
        border-radius: 10px;
    }
    
    .text{
        font-size: var(--sizeTextMD);
        padding: 0rem 0.5rem;
    }
    
    .num{
        font-size: var(--sizeTextMD);
        margin: .5rem 0rem;
        width: 2.5rem;
    }
    
    .conteinerIngredientes{
        border-radius: 10px;
    }

    .btn{
        width:auto;
        height: 3rem;
        margin-right: 0.5rem;
    }
}

@media only screen and (min-width:1px) {
    .conteiner{
        width: 90%;
    }
    
    .conteinerImg{
        height: 24rem;
    }
    
    .name{
        font-size: var(--sizeTitleSM);
    }
        
    .text{
        font-size: var(--sizeTextSM);
        padding: 0rem 0.5rem;
    }

    .containerImput{
        width: 50%;
    }

    .num{
        font-size: var(--sizeTextSM);
        margin: .5rem 0rem;
    }

    .btn{
        width:11rem;
        padding: .5rem;
        margin: .5rem;

    }
}