@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  min-width: 0;
  height: 0;

  user-select: none;
  -webkit-user-select: none; /* Para navegadores basados en WebKit */
  -moz-user-select: none; /* Para navegadores basados en Gecko (Firefox) */
  -ms-user-select: none; /* Para navegadores basados en Microsoft (IE/Edge) */ 

  /*-- Colors --*/

  --blackTransparency: rgba(0, 0, 0, .3);
  --blackTransparencyHard: rgba(0, 0, 0, .8);
  --white: white;
  --black: black;

  --primary: #ffa500;
  --primaryTransparency: #ffa50050;

  --secondary: #e88e1f;
  --secondaryTransparency: #e88e1f50;

  --tertiary: #ffe9f5;
  --tertiaryTransparency: #ffe9f550;


  /*-- Text Colors--*/

  --bannerTitle: orange ;
  --bannerSub: brown ;

  --text: black;
  --textTitle: black;
  --textSub: azure;
  --textLink: black;
  --textHover: azure;

  /*-- Texto Family--*/

  --familyBannerTitle: var(--font-heebo) ;
  --familyBannerSub: var(--font-dancing) ;

 
  --familyTitle: var(--font-heebo);
  --familySub: var(--font-heebo);
  --familyText: var(--font-merri);
  --familyLink: var(--font-heebo);

  /*-- Texto Weight--*/

  --weightLight: 400;
  --weightSemi: 600;
  --weightBold: 800;


  /* Text Size */

  /* Banner */
  --sizeBannerSM: 3rem;
  --sizeBannerMD: 4rem;
  --sizeBannerLG: 5rem;

  /* Title */
  
  --sizeTitleSM: 2rem;
  --sizeTitleMD: 3rem;
  --sizeTitleLG: 3rem;

  /* Sub */

  --sizeSubSM: 1.5rem;
  --sizeSubMD: 2.5rem;
  --sizeSubLG: 3.5rem;

  /* Text */

  --sizeTextSM: 1rem;
  --sizeTextMD: 1.5rem;
  --sizeTextLG: 2rem;

  /* Link */

  --sizeLinkSM: 1rem;
  --sizeLinkMD: 1.5rem;
  --sizeLinkLG: 2.5rem;
}

body {
  font-family: var(--font-heebo);
  background-color: var(--tertiary);
  min-height: 100vh;
}

main {
  min-height: 75vh;
}

.catBG {
  background-image: url("/images/backgrounds/bgCat.png");
}