@tailwind base;
@tailwind components;
@tailwind utilities;
/*Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap');


:root {
  /*-- colores --*/

  --blackTrasparency: #7f5d2aed;

  --primary: #fcbb59;
  --primaryTrasparency: red;
  --primaryOpacity: red;
  
  --secondary: red;
  --secondaryTrasparency: red;
  --secondaryOpacity: red;

  --tertiary: red;
  --tertiaryTrasparency: red;
  --tertiaryOpacity: red;

  /*--gradientes --*/

  --primaryGradient: red;
  --secondaryGradient: red;
  --tertiaryGradient: red;

  /*-- texto color--*/

  --textColor: red;
  --textColorTitle: red;
  --textColorSubTitle: red;
  --textLink: red;
  --textHover: red;

  /*-- texto fonts--*/

  --textFont: 'Josefin Slab', serif;
  --textFontTitle: red;
  --textFontSubTitle: red;
  --textFontLink: red;

   /*-- texto tamaño--*/

   --textSize: red;
   --textSizeNav: red;
   --textSizeTitle: red;
   --textSizeSubTitle: red;
   --textSizeLink: red;
}

.allPage {
  background-color: var(--primary);
}

