@tailwind base;
@tailwind components;
@tailwind utilities;

 
/*
CSS rules to specify families 
font-family: 'Dancing Script', cursive;
font-family: 'Heebo', sans-serif;
font-family: 'Merriweather', serif;
*/


:root {
  min-width: 0;
  height: 0;
  /*-- colores --*/

  --blackTrasparency: rgba(0,0,0,.35);
  --white: #e4e4e4 ;

  --primary: #e4e4e4;
  --primaryTrasparency: #fcbb5998;
  
  --secondary: #fe758ebf ;
  --secondaryTrasparency: red;

  --tertiary: red;
  --tertiaryTrasparency: red;

  /*--gradientes --*/

  --primaryGradient: red;
  --secondaryGradient: red;
  --tertiaryGradient: red;

  /*-- texto color--*/

  --textColor: red;
  --textColorTitle: red;
  --textColorSubTitle: red;
  --textLink: red;
  --textHover: red;

  /*-- texto fonts--*/

  --textFontTitle:'Dancing Script', cursive;
  --textFontSubTitle:'Heebo', sans-serif;
  --textFont:'Merriweather', serif;
  --textFontLink: red;

  /*-- texto tamaño--*/
  /* LG;MD;SM hacer mas */
  
   --textSizeTitle:2.7rem;
   --textSizeSubTitle:1.7rem;
   --textSize:1.2rem;
   --textSizeNav: red;
   --textSizeLink: red;
}

.allPage {
  background-color: #FFA3F030;
  min-height: 0;
}

.catBG {
  background-image: url("/images/backgrounds/bgCat.png");
}

/* #fcbb5998 */

