.container {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px;
    padding: 1rem;
}


.title {
    text-align: center;
    color: azure;
    font-size: var(--textSizeTitle);
    font-family: 'Times New Roman', Times, serif;
}

.subTitle{
    text-align: center;
    color: azure;
    font-size: var(--textSizeSubTitle);
    font-family: 'Times New Roman', Times, serif;
}

.textContainerIntro{
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.textContainer {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text {
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: var(--textSize);
}

@media only screen and (min-width:1440px) {
    .textContainerIntro{
        margin: 2rem;    
    }

    .container {
        padding: 2rem;
    }

    .textContainer {
        margin: 2rem;
    }

    .text {
        font-size: 1.5rem;
    }

    .textContainer div{
        width: 45%;
    }
}

@media only screen and (min-width:2560px) {
    .title {
        font-size: 4rem;
    }

    .text {
        font-size: 2.5rem;
    }

    .textContainer div{
        width: 45%;
        margin-top: 3rem;
    }
}