.background {
    background: linear-gradient(0deg, var(--primary) 1%, var(--primaryTrasparency) 60%, var(--primary) 99%);
    display: block;
    height: 75dvh;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1rem #e6e6e6 ;
    z-index: 2;
}

.bannerTop {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 100%;
    margin: 0;
    z-index: 0;
}

.bannerBottom {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 100%;
    z-index: 0;
}

.textContainer {
    width: 80%; /* Cambiado a porcentaje */
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20vh auto; /* Cambiado a unidades vh */
}

.title {
    z-index: 3;
    max-height: 5vh; /* Cambiado a unidades vh */
    font-family: var(--familyBannerTitle);
    font-weight: 800;
    color: var(--secondary);
    -webkit-text-stroke: 1px rgba(0,0,0,.1);
}

.sub {
    font-family: var(--familyBannerSub);
    font-weight: 800;
    z-index: 3;
    -webkit-text-stroke: 1px var(--primaryTrasparency);
    color: brown;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    .textContainer {
        width: 60%; /* Ajustado para tamaños de pantalla más grandes */
    }
}

@media only screen and (min-width: 1024px) {
    .textContainer {
        width: 50%; /* Ajustado para tamaños de pantalla más grandes */
    }
}


@media only screen and (min-width:1px) {
    .bannerTop {
        min-height: 150px;
        background-image: url('/images/banner/bannerTopMD.png');
    }

    .bannerBottom {
        min-height: 225px;
        background-image: url('/images/banner/bannerBottomMD.png');
    }

    .background {
        max-width: 1024px;
    }

    .title {
        font-size: var(--sizeBannerSM);
    }

    .sub {
        font-size: var(--sizeBannerSM);
    }
}

@media only screen and (min-width:1024px) {
    .bannerTop {
        min-height: 150px;
        background-image: url('/images/banner/bannerTopL.png');
    }

    .bannerBottom {
        min-height: 225px;
        background-image: url('/images/banner/bannerBottomL.png');
    }

    .background {
        max-width: 2560px;
        background: radial-gradient(circle, var(--primaryTrasparency) 0%,var(--primary)  99%);
    }

    .title {
        font-size: var(--sizeBannerLG);
    }

    .sub {
        font-size: var(--sizeBannerLG);
    }
}


@media only screen and (min-width:2560px) {
    .bannerTop {
        min-height: 150px;
        background-image: url('/images/banner/bannerTopXL.png');
    }

    .bannerBottom {
        min-height: 225px;
        background-image: url('/images/banner/bannerBottomXL.png');
    }

    .background {
        max-width: 7680px;
    }

    .title {
        font-size: var(--sizeBannerLG);
    }

    .sub {
        font-size: var(--sizeBannerLG);
    }
}