.container{
    width: 50%;
    background-color: var(--primary);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.7);
}

.container2{
    height: auto;
    margin-top: 0.5rem;
    padding: 1rem;
}

.container3{
    margin: 0.5rem 0rem;
    height: auto;
    width: 100%;
}

.inputWrapper{
    border-color: rgba(0, 0, 0, 0.308);
}

.inputWrapper:hover{
    border-color: rgba(0, 0, 0, 0.63);
}

.label{
    font-family: var(--familyLink);
    color: black;
}

.label:focus{
    color: black;
}

.containerDate{
    margin-top: 1rem;
    width: 100%;
}

.inputDate{
    border-radius: 10px;
    text-align: center;
    width: 90%;
    font-family: var(--familyLink);
}

.input{
    width: 40%;
}

.input::placeholder{
    color: black;
    text-align: center;
    font-family: var(--familyLink);
    background-color: rgba(240, 248, 255, 0);
    
}

.input2{
    border-radius: 10px;
    text-align: center;
    width: 90%;
    font-family: var(--familyLink);
}

.input2::placeholder{
    color: black;
    text-align: center;
    background-color: rgba(240, 248, 255, 0);
}

.img{
    width: 6rem;    
}

.title{
    font-family: var(--familyTitle);
}

.btn{
    width: 39%;
    font-family: var(--familyLink);
}

.text{
    font-family: var(--familyLink);
}

@media only screen and (min-width:1px){
    .container{
        width: 90%;
    }

    .container2{

        margin-top: 0.5rem;
        padding: 1rem;
    }
    
    .container3{
        margin: 0.2rem 0rem;
    }
    
    
    .label{
        font-size: var(--sizeTextSM) ;
    }
    
    .containerDate{
        margin-top: 1rem;
        width: 100%;
    }
    
    .inputDate{
        width: 100%;
        font-size: var(--sizeTextSM);
    }
    
    .input{
        width: 46%;
    }
    
    .input::placeholder{
        font-size: var(--sizeTextSM);        
    }
    
    .input2{
        width: 100%;
        font-size: var(--sizeTextSM);
    }
    
    .input2::placeholder{
        font-size: var(--sizeTextSM);
    }
    
    .title{
        font-size: var(--sizeTitleMD);
        font-family: var(--familyTitle);
    }
    
    .btn{
        width: 90%;
        font-family: var(--familyLink);
        font-size: var(--sizeTextMD)
    }
    
    .text{
        font-size: var(--sizeTextMD);
        font-family: var(--familyLink);
    }


}

@media only screen and (min-width:700px){

    .container{
        width: 60%;
    }

}

@media only screen and (min-width:1024px){

    .container{
        width: 50%;
    }

    .container2{

        margin-top: 0.5rem;
        padding: 1rem;
    }
    
    .container3{
        margin: 0.5rem 0rem;
    }
    
    
    .label{
        font-size: var(--sizeTextSM) ;
    }
    
    .containerDate{
        margin-top: 1rem;
        width: 100%;
    }
    
    .inputDate{
        width: 90%;
        font-size: var(--sizeTextSM);
    }
    
    .input{
        width: 40%;
    }
    
    .input::placeholder{
        font-size: var(--sizeTextSM);        
    }
    
    .input2{
        width: 90%;
        font-size: var(--sizeTextSM);
    }
    
    .input2::placeholder{
        font-size: var(--sizeTextSM);
    }
    
    .title{
        font-size: var(--sizeTitleMD);
    }
    
    .btn{
        width: 39%;
        font-size: var(--sizeTextMD)
    }
    
    .text{
        font-size: var(--sizeTextMD);
    }

}

@media only screen and (min-width:2000px){
    .container{
        width: 20%;
    }

    .inputWrapper{
        height: 4rem;
    }
}