.conteinernavbar{
    z-index: 99;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    width: auto;
    margin-bottom: 1rem;
    background-color: var(--blackTrasparency);
}

.elementsnavbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteinerlink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    font-size: 1.2rem;
}


.conteinerbutons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
   
}

.conteinercard{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menulink {
    margin: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteineruser{
    position: absolute;
    right: 0;
    margin-right: 4rem;
}

@media (max-width: 576px) {    
    .elementsnavbar{
        flex-direction: column;
    }
    
    .conteinerlink{
        flex-direction: column;
        margin: 1rem 0rem;
    }
    
    
    .conteinerbutons{
        margin-left: 1rem;
    }
    
    .conteinercard{
        position: absolute;
        top: 3rem;
        left: 0;
        margin-left: 1.5rem;
    }

    .conteineruser{
        position: absolute;
        right: 0;
        margin-right: 1.5rem;
    }
}